AgenteRealtyLens360.json
{
  "name": "AgenteRealtyLens360",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b586a45-456a-4f98-86dd-6ccb7c0e9645",
              "leftValue": "={{ $json.accion === 'sendMessage' }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1456,
        192
      ],
      "id": "29d0422b-7d7f-4647-94de-55bd9b3e293e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{$json.q}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        352
      ],
      "id": "9171a4c6-c44a-4d3f-a42e-2193c3ab48c4",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        528
      ],
      "id": "a80e1e89-fea2-43b3-b101-6ab66827ca42",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "e9kOC2wdC2eXBdqQ",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -544,
        528
      ],
      "id": "e15dca91-674a-45c3-82a6-fda52d1b39f3",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Tomar los datos del input actual\nconst datos = $json.output || {};\n\n// Calcular zona a partir de la dirección si aún no viene\nconst direccion = datos.Direccion || \"\";\nconst zonaMatch = direccion.match(/Palmetto Bay|Kendall|Homestead|Coral Gables/i);\nconst zona = datos.Zona || (zonaMatch ? zonaMatch[0] : \"\");\n\nreturn {\n  json: {\n    NombrePaquete: datos.NombrePaquete || \"\",\n    NombreOpcion: datos.NombreOpcion || \"\",\n    ClienteNombre: datos.ClienteNombre || \"\",\n    Correo: datos.Correo || \"\",\n    Telefono: datos.Telefono || \"\",\n    Direccion: direccion,\n    Zona: zona,          // ← CORREGIDO\n    Fecha: datos.Fecha || \"\",\n    Hora: datos.Hora || \"\",\n    id_paquete: datos.id_paquete || \"\",\n    id_opcion: datos.id_opcion || \"\",\n    accion: \"sendMessage\",\n    response: datos.response || \"\"\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        352
      ],
      "id": "60c22588-26c7-4929-b4a8-920f5dfb3897",
      "name": "Formatear respuesta para Chat"
    },
    {
      "parameters": {
        "jsCode": "// Code node (Run once for all items)\n\n// 1) Entrada segura\nconst input = (items?.[0]?.json) ?? {};\nconst sessionId = String(input.sessionId ?? '');\nconst chatInput = String((input.chatInput ?? input.input ?? '')).trim();\nconst lang = input.lang ?? 'es';\n\n// 2) Horarios visibles por defecto (tu patrón rápido)\nconst availableTimes = input.availableTimes ?? [\n  '09:00 am',\n  '11:30 am',\n  '01:00 pm',\n  '03:30 pm',\n];\n\n// 3) Salida base para el flujo/agent\nconst out = {\n  sessionId,\n  input: chatInput,\n  lang,\n  availableTimes,\n  timezone: 'America/New_York',  // Florida (Eastern Time)\n  workDays: ['Monday', 'Tuesday', 'Wednesday', 'Thursday'],\n  workHours: { start: '08:00 am', end: '04:00 pm' },\n  action: 'sendMessage',\n};\n\n// 4) Si ya tienes datos de calendario, prepara el payload para el nodo \"Create Event\"\nconst client_name  = input.client_name  ?? '';\nconst client_email = input.client_email ?? '';\n\nif (input.start_time && input.end_time) {\n  out.startLocal = input.start_time; // ej: \"2025-11-21T14:00:00\"\n  out.endLocal   = input.end_time;   // ej: \"2025-11-21T14:30:00\"\n\n  const paquete = input.paquete || 'Paquete';\n  const opcion  = input.opcion ? ` (${input.opcion})` : '';\n\n  out.location = input.direccion || input.zona || '';\n  out.summary = `Realty Lens 360° – ${paquete}${opcion} – ${client_name || 'Cliente'}`;\n  out.description = [\n    client_name || client_email ? `Cliente: ${client_name} ${client_email ? `– ${client_email}` : ''}${input.telefono ? ` – ${input.telefono}` : ''}` : '',\n    `Paquete: ${paquete}${opcion}`,\n    out.location ? `Ubicación: ${out.location}` : '',\n    '',\n    'Checklist: abrir cortinas, encender luces, ordenar áreas clave.',\n    'Reprogramaciones: avisar 24 h antes.'\n  ].filter(Boolean).join('\\n');\n\n  out.attendees = [\n    ...(client_email ? [{ email: client_email, displayName: client_name }] : []),\n    { email: 'massiscorpion981@gmail.com', displayName: 'Realty Lens 360°', organizer: true },\n  ];\n}\n\n// 5) Devolver item para n8n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        192
      ],
      "id": "fe25f4a3-54a3-4aa4-9d92-a6541714dce0",
      "name": "Edit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -3104,
        192
      ],
      "id": "7681a251-3288-4422-863d-6796435162e3",
      "name": "When chat message received",
      "webhookId": "f3aee6c7-c7a6-4536-b4e6-430db4e00190"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appCMklz99BLqUofO",
          "mode": "list",
          "cachedResultName": "RealtyLens360",
          "cachedResultUrl": "https://airtable.com/appCMklz99BLqUofO"
        },
        "table": {
          "__rl": true,
          "value": "tbl8ghzZdkDUeh8c0",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appCMklz99BLqUofO/tbl8ghzZdkDUeh8c0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_opcion": "=id_opcion\n{{ $node[\"Function PrepararCita\"].json.id_opcion\n      ? [$node[\"Function PrepararCita\"].json.id_opcion]\n      : [] }}",
            "id_paquete": "=id_paquete\n{{ $node[\"Function PrepararCita\"].json.id_paquete\n      ? [$node[\"Function PrepararCita\"].json.id_paquete]\n      : [] }}",
            "Estado": "=Pendiente",
            "Zona": "={{ $node[\"Function PrepararCita\"].json.Zona }}",
            "Hora": "={{ $node[\"Function PrepararCita\"].json.Hora }}",
            "Fecha": "={{ $node[\"Function PrepararCita\"].json.FechaISO }}",
            "Direccion": "={{ $node[\"Function PrepararCita\"].json.Direccion }}",
            "Correo": "={{ $node[\"Function PrepararCita\"].json.Correo }}",
            "Telefono": "={{ $node[\"Function PrepararCita\"].json.Telefono }}",
            "ClienteNombre": "={{ $node[\"Function PrepararCita\"].json.ClienteNombre }}",
            "id_cita": "={{ $node[\"Function PrepararCita\"].json.id_cita }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_cita",
              "displayName": "id_cita",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ClienteNombre",
              "displayName": "ClienteNombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Direccion",
              "displayName": "Direccion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zona",
              "displayName": "Zona",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nombre (from id_paquete)",
              "displayName": "nombre (from id_paquete)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "nombre_opcion (from id_opcion)",
              "displayName": "nombre_opcion (from id_opcion)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Reprogramada",
                  "value": "Reprogramada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_paquete",
              "displayName": "id_paquete",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_opcion",
              "displayName": "id_opcion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -320,
        48
      ],
      "id": "872a0f6a-8f34-481d-a746-43a44950a865",
      "name": "FromCitas",
      "credentials": {
        "airtableTokenApi": {
          "id": "FY5BRRFANF1cAZNo",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Helper para quitar acentos y normalizar texto ---\nfunction normalize(str) {\n  if (!str) return \"\";\n  return String(str)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // quita acentos\n    .toLowerCase()\n    .trim();\n}\n\n// 1) Tomamos los datos que vienen del agente o del nodo anterior\nconst src = $json.output || $json;\n\n// 2) Normalizamos en un solo objeto \"data\"\nconst data = {\n  NombrePaquete: src.NombrePaquete || \"\",\n  NombreOpcion:  src.NombreOpcion  || \"\",\n  Fecha:         src.Fecha         || \"\",\n  Hora:          src.Hora          || \"\",\n  Zona:          src.Zona          || \"\",\n  ClienteNombre: src.ClienteNombre || \"\",\n  Telefono:      src.Telefono      || \"\",\n  Correo:        src.Correo        || \"\",\n  Direccion:     src.Direccion     || \"\",\n  id_paquete:    src.id_paquete    || \"\",\n  id_opcion:     src.id_opcion     || \"\",\n};\n\n// 3) Normalizar nombres de paquete y opción (sin acentos)\nconst nombrePaqueteNorm = normalize(data.NombrePaquete);\nconst nombreOpcionNorm  = normalize(data.NombreOpcion);\n\n// Paquetes válidos\nif (nombrePaqueteNorm.includes(\"basico\")) {\n  data.NombrePaquete = \"Basico\";\n} else if (nombrePaqueteNorm.includes(\"premium\")) {\n  data.NombrePaquete = \"Premium\";\n} else if (nombrePaqueteNorm.includes(\"comercial\")) {\n  data.NombrePaquete = \"Comercial\";\n}\n\n// Opciones válidas (1, 2 o 3)\n// Acepta cosas como: \"opcion 1\", \"opción1\", \"1\", \"uno\", etc.\nif (nombreOpcionNorm.includes(\"opcion 1\") || nombreOpcionNorm === \"1\" || nombreOpcionNorm.includes(\"uno\")) {\n  data.NombreOpcion = \"Opcion 1\";\n} else if (nombreOpcionNorm.includes(\"opcion 2\") || nombreOpcionNorm === \"2\" || nombreOpcionNorm.includes(\"dos\")) {\n  data.NombreOpcion = \"Opcion 2\";\n} else if (nombreOpcionNorm.includes(\"opcion 3\") || nombreOpcionNorm === \"3\" || nombreOpcionNorm.includes(\"tres\")) {\n  data.NombreOpcion = \"Opcion 3\";\n}\n\n// --- 🔴 NUEVO: ASIGNAR id_paquete E id_opcion SEGÚN EL NOMBRE ---\n// Aquí pones los IDs EXACTOS como están en Airtable\nconst mapPaquetes = {\n  basico: \"1\",     // <-- cambia \"1\" por el ID de Basico en Airtable\n  premium: \"2\",    // <-- cambia \"2\" por el ID de Premium\n  comercial: \"3\",  // <-- cambia \"3\" por el ID de Comercial\n};\n\nconst mapOpciones = {\n  \"opcion 1\": \"1\",  // <-- ID de Opcion 1\n  \"opcion 2\": \"2\",  // <-- ID de Opcion 2\n  \"opcion 3\": \"3\",  // <-- ID de Opcion 3\n};\n\n// Claves normalizadas a partir de los nombres ya corregidos\nconst keyPaquete = normalize(data.NombrePaquete);  // ej: \"basico\"\nconst keyOpcion  = normalize(data.NombreOpcion);   // ej: \"opcion 2\"\n\n// Solo rellenamos si siguen vacíos\nif (!data.id_paquete && mapPaquetes[keyPaquete]) {\n  data.id_paquete = mapPaquetes[keyPaquete];\n}\n\nif (!data.id_opcion && mapOpciones[keyOpcion]) {\n  data.id_opcion = mapOpciones[keyOpcion];\n}\n\n// ---------- VALIDACIONES ----------\nconst faltantes = [];\nconst errores   = [];\n\n// Campos obligatorios\nif (!data.NombrePaquete) faltantes.push(\"paquete\");\nif (!data.NombreOpcion)  faltantes.push(\"opción\");\nif (!data.Fecha)         faltantes.push(\"fecha\");\nif (!data.Hora)          faltantes.push(\"hora\");\nif (!data.Zona)          faltantes.push(\"zona\");\nif (!data.ClienteNombre) faltantes.push(\"nombre completo\");\nif (!data.Telefono)      faltantes.push(\"teléfono\");\nif (!data.Correo)        faltantes.push(\"correo\");\nif (!data.Direccion)     faltantes.push(\"dirección\");\n\n// Validar teléfono\nif (data.Telefono && !/^\\d{10,}$/.test(data.Telefono.replace(/\\D/g, \"\"))) {\n  errores.push(\"un teléfono válido (mínimo 10 dígitos)\");\n}\n\n// Validar correo\nif (data.Correo && !/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(data.Correo)) {\n  errores.push(\"un correo electrónico válido\");\n}\n\n// ---- SI FALTA ALGO → NO HAY RESERVA, SOLO MENSAJE AL CHAT ----\nif (faltantes.length > 0 || errores.length > 0) {\n  let msg = \"\";\n\n  if (faltantes.length > 0) {\n    msg += `Me faltan estos datos: ${faltantes.join(\", \")}. `;\n  }\n  if (errores.length > 0) {\n    msg += `Revisa también: ${errores.join(\", \")}. `;\n  }\n\n  msg += \"¿Podrías confirmarlos por favor?\";\n\n  return [\n    {\n      json: {\n        ...data,\n        datosCompletos: false,\n        accion: \"sendMessage\",\n        response: msg,\n      },\n    },\n  ];\n}\n\n// ---- SI TODO ESTÁ OK → GENERAMOS id_cita Y FECHA ISO PARA AIRTABLE ----\n\n// id_cita: si ya viene (por duplicada / reprogramar) lo respetamos; si no, generamos uno nuevo\nconst ahora = Date.now().toString();\ndata.id_cita = src.id_cita || ahora;\n\n// Guardamos siempre una fecha ISO para Airtable\ndata.FechaISO = data.Fecha;\n\n// Versión bonita solo para el chat (por ahora igual que Fecha)\ndata.FechaBonita = data.FechaBonita || data.Fecha;\n\n// Marcamos OK\ndata.datosCompletos = true;\ndata.accion = \"reservar\";\n\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        48
      ],
      "id": "d45e8e4f-070a-4757-9fea-10f44539f431",
      "name": "Function PrepararCita"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "massiscorpion981@gmail.com",
          "mode": "id"
        },
        "start": "={{ $json.startRFC3339.replace('Z','') }}",
        "end": "={{ $json.endRFC3339.replace('Z','') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        80,
        48
      ],
      "id": "9ec9aa1a-d326-40ad-8ee8-3f6063a096aa",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "J2NgWuhZ60qsMxuf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🔹 Función auxiliar: convierte \"10:00am\" → { hour: 10, minute: 0 } en 24h\nfunction parseHourTo24(horaTexto) {\n  if (!horaTexto) return { hour: 9, minute: 0 }; // fallback 09:00\n\n  let h = horaTexto.trim().toLowerCase();\n  h = h.replace(/\\s+/g, \"\");      // \"10:00 am\" -> \"10:00am\"\n\n\n\n  const isPM = h.includes(\"pm\");\n  const isAM = h.includes(\"am\");\n  h = h.replace(/am|pm/g, \"\");\n\n  let [hourStr, minStr] = h.split(\":\");\n  let hour = parseInt(hourStr || \"0\", 10);\n  let minute = parseInt(minStr || \"0\", 10);\n\n  if (isPM && hour < 12) hour += 12;\n  if (isAM && hour === 12) hour = 0;\n\n  if (!Number.isFinite(hour) || !Number.isFinite(minute)) {\n    hour = 9;\n    minute = 0;\n  }\n\n  return { hour, minute };\n}\n\n// 🔹 Procesar TODOS los items que vienen del nodo FromCitas\nconst salida = items.map(item => {\n  const src = item.json;\n  const data = src.fields || src; // si viene de Airtable usamos fields\n\n  const fecha = data.FechaISO || data.Fecha || \"\";            // \"2025-12-14\"\n  const horaTexto = data.Hora || src.Hora || \"\"; // \"10:00am\"\n\n  // Si no hay fecha, NO creamos evento y dejamos pasar el item igual\n  if (!fecha) {\n    return item;\n  }\n\n  // --- Construir start/end en RFC3339 ---\n  const { hour, minute } = parseHourTo24(horaTexto);\n\n  const [year, month, day] = fecha.split(\"-\").map(n => parseInt(n, 10));\n  const startDate = new Date(year, month - 1, day, hour, minute, 0);\n  const endDate   = new Date(startDate.getTime() + 90 * 60 * 1000); // 90 min\n\n  const startRFC3339 = startDate.toISOString();\n  const endRFC3339   = endDate.toISOString();\n\n  // --- Textos del evento ---\n  const paquete   = data.NombrePaquete || src.NombrePaquete || \"\";\n  const opcion    = data.NombreOpcion  || src.NombreOpcion  || \"\";\n  const cliente   = data.ClienteNombre || src.ClienteNombre || \"\";\n  const correo    = data.Correo        || src.Correo        || \"\";\n  const tel       = data.Telefono      || src.Telefono      || \"\";\n  const zona      = data.Zona          || src.Zona          || \"\";\n  const direccion = data.Direccion     || src.Direccion     || \"\";\n\n  const summary = `Realty Lens 360° – ${paquete} (${opcion}) – ${cliente}`;\n  const location = zona\n    ? `${zona}${direccion ? \" - \" + direccion : \"\"}`\n    : (direccion || \"\");\n\n  const description =\n    `Cliente: ${cliente} – ${correo} – ${tel}\\n` +\n    `Paquete: ${paquete} (${opcion})\\n` +\n    `Ubicación: ${location}\\n\\n` +\n    `Checklist: abrir cortinas, encender luces.\\n` +\n    `Reprogramaciones: avisar 24 h antes.`;\n\n  // Devolvemos el item que el nodo Google Calendar necesita\n  return {\n    json: {\n      ...src,               // conservas id, fields, etc.\n      startRFC3339,\n      endRFC3339,\n      timezone: \"America/New_York\",\n      summary,\n      location,\n      description,\n    },\n  };\n});\n\n// 🔹 SIEMPRE devolver un array de items\nreturn salida;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        48
      ],
      "id": "dbeb6120-24e1-4fed-b062-3e501c8f45c7",
      "name": "PrepararEventoCalendar"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCMklz99BLqUofO",
          "mode": "list",
          "cachedResultName": "RealtyLens360",
          "cachedResultUrl": "https://airtable.com/appCMklz99BLqUofO"
        },
        "table": {
          "__rl": true,
          "value": "tbl8ghzZdkDUeh8c0",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appCMklz99BLqUofO/tbl8ghzZdkDUeh8c0"
        },
        "filterByFormula": "=AND(\n  {Fecha}='{{$json[\"Fecha\"]}}',\n  {Hora}='{{$json[\"Hora\"]}}',\n  {Estado}!='Cancelada'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -736,
        32
      ],
      "id": "9c0749c0-1396-43d9-9d95-1f1bd4b927bf",
      "name": "CheckCitaDuplicada",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "FY5BRRFANF1cAZNo",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.item.json;\nconst datos = source || {};\n\nconst nombrePaquete = datos.NombrePaquete || \"\";\nconst nombreOpcion  = datos.NombreOpcion || \"\";\nconst nombreCliente = datos.ClienteNombre || \"\";\nconst correo        = datos.Correo || \"\";\nconst telefono      = datos.Telefono || \"\";\nconst direccion     = datos.Direccion || \"\";\nconst zona          = datos.Zona || \"\";\nconst fecha         = datos.Fecha || \"\";\nconst hora          = datos.Hora || \"\";\n\nconst lugarTexto = zona || direccion || \"la ubicación acordada\";\n\nreturn {\n  json: {\n    NombrePaquete: nombrePaquete,\n    NombreOpcion: nombreOpcion,\n    ClienteNombre: nombreCliente,\n    Correo: correo,\n    Telefono: telefono,\n    Direccion: direccion,\n    Zona: zona,\n    Fecha: fecha,\n    Hora: hora,\n    id_paquete: datos.id_paquete || \"\",\n    id_opcion: datos.id_opcion || \"\",\n    accion: \"sendMessage\",\n    response: `Perfecto, ${nombreCliente}. Su cita para ${nombrePaquete} (${nombreOpcion}) en ${lugarTexto} el ${fecha} a la(s) ${hora} ha sido registrada. Le envié una invitación de calendario y recibirá recordatorios. ¡Gracias por su confianza!`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        48
      ],
      "id": "7e7d41f8-12f9-418d-b1a8-da995ff4705b",
      "name": "Formatear Respuesta Final"
    },
    {
      "parameters": {
        "jsCode": "// Horarios válidos en tu sistema\nconst availableTimes = [\n  \"09:30 am\",\n  \"11:30 am\",\n  \"01:00 pm\",\n  \"03:30 pm\",\n];\n\n// ---- Helpers ----\nfunction parseToMinutes(str) {\n  if (!str) return null;\n\n  str = String(str)\n    .toLowerCase()\n    .replace(/\\s+/g, \"\");       // \"1:00 pm\" -> \"1:00pm\"\n\n  const m = str.match(/(\\d{1,2})(?::?(\\d{2}))?(am|pm)?/);\n  if (!m) return null;\n\n  let h = parseInt(m[1], 10);\n  let min = m[2] ? parseInt(m[2], 10) : 0;\n  let ampm = m[3];\n\n  if (!ampm) {\n    if (h === 0) {\n      ampm = \"am\"; h = 12;\n    } else if (h === 12) {\n      ampm = \"pm\";\n    } else if (h > 12) {\n      ampm = \"pm\"; h = h - 12;\n    } else {\n      ampm = \"am\";\n    }\n  }\n\n  let h24 = h;\n  if (ampm === \"pm\" && h !== 12) h24 = h + 12;\n  if (ampm === \"am\" && h === 12) h24 = 0;\n\n  return h24 * 60 + min;\n}\n\nfunction minutesToCanonical(minutes) {\n  if (minutes == null) return \"\";\n\n  let h24 = Math.floor(minutes / 60);\n  const min = minutes % 60;\n\n  const ampm = h24 >= 12 ? \"pm\" : \"am\";\n  let h12 = h24 % 12;\n  if (h12 === 0) h12 = 12;\n\n  const hh = String(h12).padStart(2, \"0\");\n  const mm = String(min).padStart(2, \"0\");\n\n  return `${hh}:${mm} ${ampm}`;\n}\n\n// ---- Lógica principal ----\nconst root = $json;\nconst o = root.output || {};\n\nconst horaOriginal = o.Hora || \"\";\nif (!horaOriginal) {\n  return [{ json: root }];\n}\n\nconst minutes = parseToMinutes(horaOriginal);\nconst canonical = minutesToCanonical(minutes);\n\nlet horaFinal = \"\";\nif (availableTimes.includes(canonical)) {\n  horaFinal = canonical;\n} else {\n  // Hora fuera de slots → se limpia para que el Agent vuelva a pedir\n  horaFinal = \"\";\n}\n\nconst newOutput = {\n  ...o,\n  Hora: horaFinal,\n  HoraOriginalCliente: horaOriginal,\n};\n\nreturn [\n  {\n    json: {\n      ...root,\n      output: newOutput,\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        192
      ],
      "id": "383e70de-bdb8-4e24-9594-6fa71a1d613e",
      "name": "NormalizarHora"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2608,
        400
      ],
      "id": "2d0a635f-32d7-4903-a3ca-06dd5d3fded0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "e9kOC2wdC2eXBdqQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Tomamos la salida cruda del agente como texto\nlet raw = items[0].json.output ?? '';\nraw = String(raw).trim();\n\n// 2) Buscamos el primer '{'\nconst firstOpen = raw.indexOf('{');\nif (firstOpen === -1) {\n  throw new Error('No se encontró ningún \"{\" en la respuesta del agente.');\n}\n\n// Nos quedamos desde el primer '{'\nlet rest = raw.slice(firstOpen);\n\n// 3) Buscamos el primer '}' después de ese '{'\nconst firstClose = rest.indexOf('}');\nif (firstClose === -1) {\n  throw new Error('No se encontró ningún \"}\" en la respuesta del agente.');\n}\n\n// 4) Tomamos solo desde '{' hasta '}' (primer objeto JSON)\nlet jsonText = rest.slice(0, firstClose + 1);\n\n// 5) Intentamos parsear\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (e) {\n  throw new Error('Error al parsear JSON del agente: ' + e.message + '\\nTexto usado: ' + jsonText);\n}\n\n// 6) Devolvemos un único item con ese objeto\nreturn [\n  {\n    json: parsed,\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        192
      ],
      "id": "e2f5ba02-1f5f-4bbc-bbd3-4d44a96aeb6e",
      "name": "Parse"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MENSAJE DEL CLIENTE:\n{{$json.input}}\n\nRol: Eres el asistente de Realty Lens 360°. Ayudas al cliente a elegir un paquete (Básico / Premium / Comercial) y a reservar una cita sin choques de agenda.\n\nTu objetivo:\n- Guiar al cliente a elegir el paquete y opción correctos.\n- Recoger sus datos (nombre, teléfono, email, zona, dirección, fecha, hora).\n- Ver disponibilidad real, evitar doble reserva y confirmar la cita.\n- Responder SIEMPRE con un único objeto JSON válido usando los campos indicados más abajo.\n\nReglas estrictas:\n- No agregues acentos en los campos NombrePaquete y NombreOpcion.\n- Los paquetes válidos son: Basico, Premium, Comercial.\n- Las opciones válidas son: \"Opcion 1\", \"Opcion 2\", \"Opcion 3\".\n- Si el usuario menciona algo que NO existe (como “opcion 4”), devuelve NombrePaquete y NombreOpcion como vacíos.\n- Si el usuario menciona un paquete sin mencionar opción, solo llena NombrePaquete.\n- Si el usuario escribe nombre, teléfono, correo, dirección, reconócelos y colócalos.\n- Si hay fecha, siempre devuélvela tal como la dijo el usuario (no la conviertas).\n- NO inventes datos.\n- NO corrijas, NO cambies significado, NO asumas.\n- Solo devuelve JSON válido, sin texto adicional.\n\n────────────────────────────────\n1) Saludo y encuadre\n────────────────────────────────\n\nSi el cliente solo saluda o escribe algo general y no hay contexto previo:\n- \"response\": \"¡Hola! 👋 Bienvenido a Realty Lens 360°. ¿Qué paquete deseas conocer: Premium, Comercial o Básico? Si prefieres, dime tu necesidad (opciones 1, 2, 3 o 4) y te guío.\"\n- Mantén el resto de campos del JSON igual.\n\n────────────────────────────────\n2) Información de paquete (USAR HERRAMIENTA get_package_info)\n────────────────────────────────\n\nMUY IMPORTANTE:\nSi el usuario escribe algo como:\n- \"comercial opcion 1\"\n- \"comercial 1\"\n- \"premium opcion 3\"\n- \"básico 2\"\n- \"detalle comercial opcion 1\"\n- \"qué incluye premium 3\"\n- \"quiero ver basico opcion 2\"\n- \"paquete comercial opcion 4\"\n- Nunca uses acentos en los valores de \"NombreOpcion\". \n- Usa siempre: \"Opcion 1\", \"Opcion 2\", \"Opcion 3\" (sin acentos).\n\n\nDEBES interpretarlo COMO solicitud de información del paquete/opción.\n\n1. Detecta el paquete: \"Basico\", \"Premium\" o \"Comercial\".\n2. Detecta la opción: \"Opcion 1\", \"Opcion 2\", \"Opcion 3\" u \"Opcion 4\".\n3. LLAMA OBLIGATORIAMENTE a la herramienta:\n\n   get_package_info({\n     \"NombrePaquete\": \"<Basico|Premium|Comercial>\",\n     \"NombreOpcion\": \"<Opcion 1|Opcion 2|Opcion 3|Opcion 4>\"\n   })\n\nNUNCA inventes la descripción del paquete.\nSIEMPRE usa EXCLUSIVAMENTE el resultado de la herramienta.\n\n- Si get_package_info devuelve UN registro con:\n  - NombrePaquete\n  - NombreOpcion\n  - Descripcion\n\n  ENTONCES:\n  - Rellena en el JSON:\n    - \"NombrePaquete\" y \"NombreOpcion\" con esos valores\n    - \"DescripcionPaquete\" con el texto de \"Descripcion\"\n    - \"accion\": \"esperar\"\n  - Y en \"response\" responde exactamente así:\n\n    \"El paquete {NombrePaquete} {NombreOpcion} incluye {descripcion_format}. ¿Deseas que te ayude a reservar?\"\n\n    donde descripcion_format es:\n    - el campo Descripcion convertido a minúsculas,\n    - sin punto final al final,\n    - reemplazando \"plano \" por \"planos \" si aparece.\n\n- Si get_package_info NO devuelve ningún registro (lista vacía):\n\n  ENTONCES:\n  - NO inventes ninguna descripción.\n  - Deja:\n    - \"NombrePaquete\": \"\",\n    - \"NombreOpcion\": \"\",\n    - \"DescripcionPaquete\": \"\",\n    - \"id_paquete\": \"\",\n    - \"id_opcion\": \"\",\n    - \"accion\": \"esperar\"\n  - Y en \"response\" responde algo como:\n\n    \"No encuentro el paquete que mencionas (por ejemplo 'Comercial Opcion 4') en mi tabla de servicios. Las combinaciones válidas son Básico/Premium/Comercial con Opciones 1, 2 o 3. ¿Con cuál de ellas quieres que te ayude?\"\n\nEn este caso NUNCA debes avanzar al proceso de reserva.\n\n────────────────────────────────\n3) Datos del cliente (uno por mensaje)\n────────────────────────────────\n\nOrden: Nombre completo → Teléfono → Correo → Zona → Dirección → Fecha → Hora.\n\n- Pide SOLO un dato por mensaje.\n- Valida:\n  - Nombre debe tener nombre y apellido.\n  - Teléfono: mínimo 10 dígitos.\n  - Correo: debe tener @ y dominio.\n\n────────────────────────────────\n4) Zona y dirección\n────────────────────────────────\n\nZonas válidas: \"Kendall\", \"Palmetto Bay\", \"Homestead\", \"Coral Gables\".\n\n- Si la dirección ya incluye una de esas zonas, úsala como Zona.\n- Si solo hay zona sin dirección: guarda Zona y pide Dirección.\n- Si falta Zona: pídesela.\n\n────────────────────────────────\n5) Disponibilidad y confirmación\n────────────────────────────────\n\nCuando YA tengas:\n- NombrePaquete\n- NombreOpcion\n- Fecha\n- Zona\n- Hora\n\npuedes marcar la acción \"sendMessage\" para que el sistema continúe con la reserva y cree el evento en calendario en otros nodos.\n\nEn ese caso, \"response\" debe ser:\n\n\"Perfecto, {ClienteNombre}. Su cita para {NombrePaquete} ({NombreOpcion}) en {Zona} el {Fecha} a la(s) {Hora} ha sido registrada. Le envié una invitación de calendario y recibirá recordatorios. ¡Gracias por su confianza!\"\n\n────────────────────────────────\n6) Formato del JSON de salida\n────────────────────────────────\n\nSiempre responde SOLO un objeto JSON con TODOS estos campos:\n\n{\n  \"NombrePaquete\": \"Premium\",\n  \"NombreOpcion\": \"Opcion 1\",\n  \"Fecha\": \"\",\n  \"Hora\": \"\",\n  \"Zona\": \"\",\n  \"ClienteNombre\": \"\",\n  \"Telefono\": \"\",\n  \"Correo\": \"\",\n  \"Direccion\": \"\",\n  \"accion\": \"esperar\"\n}\n\n\n- No uses backticks.\n- No añadas texto fuera del JSON.\n- No expliques la herramienta ni la lógica interna.\n- El campo \"Fecha\" SIEMPRE debe ir en formato \"YYYY-MM-DD\".\n  Ejemplo correcto: \"2025-12-20\".\n  NO uses \"20 de diciembre\" ni otros formatos.\n\nReglas de memoria de datos\n- Cada vez que respondas, DEBES arrastrar todos los datos que ya conozcas del cliente.\n- Si ya sabes el paquete y la opción, NUNCA los borres ni los dejes vacíos.\n- Solo actualiza un campo cuando el cliente lo cambie explícitamente.\n- Ejemplo: si el cliente ya eligió \"Basico / Opcion 1\" y luego solo dice \"me llamo Felicita Pérez\",\n  tu JSON debe mantener:\n    \"NombrePaquete\": \"Basico\",\n    \"NombreOpcion\": \"Opcion 1\",\n  y solo actualizar:\n    \"ClienteNombre\": \"Felicita Pérez\".\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2512,
        192
      ],
      "id": "53bec5b9-6d19-449f-a151-9bf65db8a7eb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fde63c3d-1caf-430d-aa1f-a5e601e89c01",
              "leftValue": "={{ $items(\"CheckCitaDuplicada\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        32
      ],
      "id": "cbf0e4ad-6490-4dc5-b5ab-9afaba24f262",
      "name": "IfDuplicada",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// 1. Tomamos los datos completos desde IfDatosCompletos\nlet original = {};\ntry {\n  original = $items(\"IfDatosCompletos\", 0, 0).json || {};\n} catch (e) {\n  original = {};\n}\n\n// 2. Tomamos el resultado del Airtable Search (CheckCitaDuplicada)\nlet record = {};\ntry {\n  record = $items(\"CheckCitaDuplicada\", 0, 0).json || {};\n} catch (e) {\n  record = {};\n}\n\nconst f = record.fields || {};\n\n// Normaliza links tipo \"link to record\"\nfunction normalizeLink(val) {\n  if (Array.isArray(val)) return val;\n  if (typeof val === \"string\" && val.trim() !== \"\" && val.startsWith(\"rec\")) {\n    return [val]; // parece id de Airtable\n  }\n  return [];\n}\n\n// 3. Mezclamos: primero todo lo que ya trae el flujo, luego lo de Airtable si existe\nconst data = {\n  ...original,\n\n  ClienteNombre:  f.ClienteNombre  || original.ClienteNombre  || \"\",\n  Telefono:       f.Telefono       || original.Telefono       || \"\",\n  Correo:         f.Correo         || original.Correo         || \"\",\n  Direccion:      f.Direccion      || original.Direccion      || \"\",\n  Fecha:          f.Fecha          || original.Fecha          || \"\",\n  Hora:           f.Hora           || original.Hora           || \"\",\n  Zona:           f.Zona           || original.Zona           || \"\",\n  NombrePaquete:  f.NombrePaquete  || original.NombrePaquete  || \"\",\n  NombreOpcion:   f.NombreOpcion   || original.NombreOpcion   || \"\",\n\n  id_cita:   f.id_cita || original.id_cita || \"\",\n  id_paquete: normalizeLink(f.id_paquete || original.id_paquete),\n  id_opcion:  normalizeLink(f.id_opcion  || original.id_opcion),\n\n  airtableId: record.id || original.airtableId || \"\",\n  datosCompletos: true,\n};\n\n// 4. Mensaje para el usuario\nconst mensaje =\n  `Ya tienes una cita para ${data.NombrePaquete} (${data.NombreOpcion}) ` +\n  `el ${data.Fecha} a las ${data.Hora} en ${data.Zona}. ` +\n  `¿Quieres reprogramar la cita o deseas crear una nueva reserva?`;\n\n// 5. Devolvemos TODO listo para el nodo Citas\nreturn [\n  {\n    json: {\n      ...data,\n      accion: \"sendMessage\",\n      response: mensaje,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -128
      ],
      "id": "0e04e89a-aceb-42c8-a78e-3839be163b3d",
      "name": "RespuestaDuplicada"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -688,
        352
      ],
      "id": "0fdd3ea7-6bb9-4bb9-8b68-970af6b6e233",
      "name": "NormativasPaquetes",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "677557bd-021b-4750-89ec-084c623c75a6",
              "leftValue": "={{ $json.datosCompletos }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -992,
        48
      ],
      "id": "a386498c-1683-4b07-b9c6-23f13c17dd0b",
      "name": "IfDatosCompletos"
    },
    {
      "parameters": {
        "jsCode": "// Los datos de la cita que encontró Airtable\nconst cita = $json;\n\n// Armamos el mensaje para el chat\nconst msg = `Ya tienes una cita reservada para el ${cita.Fecha} a las ${cita.Hora} en ${cita.Zona}. \nSi deseas cambiarla, dime \"reprogramar\" o \"cancelar\".`;\n\nreturn [\n  {\n    json: {\n      ...cita,\n      datosCompletos: false,   // ya no queremos crear, solo avisar\n      accion: \"sendMessage\",\n      response: msg,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        208
      ],
      "id": "58a3a62f-a684-4050-bace-b082a2eca20c",
      "name": "FormatearRespuesta"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "get_package_info",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCMklz99BLqUofO",
          "mode": "list",
          "cachedResultName": "RealtyLens360",
          "cachedResultUrl": "https://airtable.com/appCMklz99BLqUofO"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appCMklz99BLqUofO/tblnVj2Mxx6YfPZdA/viwMeRwqPN88DuslD",
          "mode": "url"
        },
        "filterByFormula": "=AND(\n  {NombrePaquete} = '{{$json[\"NombrePaquete\"]}}',\n  {NombreOpcion} = '{{$json[\"NombreOpcion\"]}}'\n)",
        "returnAll": false,
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -2304,
        400
      ],
      "id": "f526fad9-6d38-4565-9f7f-b8228a122ef6",
      "name": "FindOptions",
      "credentials": {
        "airtableTokenApi": {
          "id": "FY5BRRFANF1cAZNo",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2464,
        400
      ],
      "id": "f62432b7-3354-4237-8d2d-b92f3e1d4ac4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appCMklz99BLqUofO",
          "mode": "list",
          "cachedResultName": "RealtyLens360",
          "cachedResultUrl": "https://airtable.com/appCMklz99BLqUofO"
        },
        "table": {
          "__rl": true,
          "value": "tbl8ghzZdkDUeh8c0",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appCMklz99BLqUofO/tbl8ghzZdkDUeh8c0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_cita": "={{ $json.id_cita }}",
            "Telefono": "={{ $json.Telefono }}",
            "Correo": "={{ $json.Correo }}",
            "Fecha": "={{ $json.Fecha }}",
            "Hora": "={{ $json.Hora }}",
            "id_paquete": "={{ $json.id_paquete }}",
            "Estado": "Reprogramada",
            "ClienteNombre": "={{ $json.ClienteNombre }}",
            "Direccion": "={{ $json.Direccion }}",
            "Zona": "={{ $json.Zona }}",
            "id_opcion": "={{ $json.id_opcion }}"
          },
          "matchingColumns": [
            "id_cita"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id_cita",
              "displayName": "id_cita",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ClienteNombre",
              "displayName": "ClienteNombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Direccion",
              "displayName": "Direccion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zona",
              "displayName": "Zona",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nombre (from id_paquete)",
              "displayName": "nombre (from id_paquete)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "nombre_opcion (from id_opcion)",
              "displayName": "nombre_opcion (from id_opcion)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Reprogramada",
                  "value": "Reprogramada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_paquete",
              "displayName": "id_paquete",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_opcion",
              "displayName": "id_opcion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -112,
        -128
      ],
      "id": "3435fb45-6f16-4a0b-bad9-b85ce527ad59",
      "name": "UpdateCitas",
      "credentials": {
        "airtableTokenApi": {
          "id": "FY5BRRFANF1cAZNo",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Function PrepararCita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear respuesta para Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "NormativasPaquetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "NormativasPaquetes",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "NormativasPaquetes",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Formatear respuesta para Chat": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function PrepararCita": {
      "main": [
        [
          {
            "node": "IfDatosCompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FromCitas": {
      "main": [
        [
          {
            "node": "PrepararEventoCalendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepararEventoCalendar": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCitaDuplicada": {
      "main": [
        [
          {
            "node": "IfDuplicada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NormalizarHora": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "NormalizarHora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDuplicada": {
      "main": [
        [
          {
            "node": "RespuestaDuplicada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FromCitas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RespuestaDuplicada": {
      "main": [
        [
          {
            "node": "UpdateCitas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDatosCompletos": {
      "main": [
        [
          {
            "node": "CheckCitaDuplicada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FormatearRespuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindOptions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75c0c0c9-6933-4d31-8df1-91b2fde267c5",
  "meta": {
    "instanceId": "2d9dae60ee2f9aea7e148adecf288670e19fddb51a6b563013c0bca3ff3be78f"
  },
  "id": "sFBSkSqCXO7u18VA",
  "tags": []
}